

.content{
  &-settings{
    padding: 24px 16px;

    border-bottom: 4px solid $gray3;

    & > h2{
      font-weight: $medium;
      font-size: $font-size1;
    }

    &-options{
      padding: 24px 0 2px 0;
      display: flex;
  
      justify-content: space-between;
    }
  }
}

.settings__option{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;

  color: $gray-primary;

  &:hover > p{
    color: $blue-primary;
  }

  &:hover > img{
    filter: $blue-secondary-filter;
  }
}

// Tablet - 768 x 1024 
@media (min-width: 768px) {

}

// Laptops
@media (min-width: 1365px) {
  .side_menu{
    content: "";
    width: 19vw;
    max-height: 570px;
    min-width: 255px;
    padding: 32px 0;
    margin-top: 45px;

    overflow: scroll;

    box-sizing: border-box;

    position: sticky;
    top: 200px;

    background-color: $white-primary;
    border: 1px solid #CECECE;
    border-radius: 8px;
  }

  .content{
    margin-left: calc($navbar_width + 2px);
    padding:50px;

    &-posts{
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &-container{
      display: flex;
      justify-content: space-between;
      gap: 50px;
      margin-top: 50px;

      &__posts{
        flex: 1;
      }
    }

    &-trending{
      & > p{
        font-weight: $medium;
        font-size: $font-size2;
        margin-bottom: 24px;
      }

      &__container{
        display: flex;
        flex-direction: row;
        gap: 18px;
        position: relative;
      }
    }

    &-settings{
      padding: 0 0 32px 0;
      border-bottom: none;

      & > h2{
        margin-bottom: 24px;
        font-size: $font-size2;
      }

      &-options{
        border: 1px solid #CECECE;
        border-radius: 8px;
        background-color: #fff;
        padding: 16px 24px;
      }
    }
  }


  .trending__post{
    content: "";
    position: relative;
    // //I've Missed one pair of braces and I was sitting here for 1 hour to figure out if calc() is calculating wrong ...
    width: calc((100vw - ( (3 * $content_trending_gap) + ($navbar_width + 1px) + (2 * 50px) )) / 4);
    height: calc((215/241) * ((100vw - ( (3 * $content_trending_gap) + ($navbar_width + 1px) + (2 * 50px) )) / 4));

    background-color: black;

    border-radius: 20px;
    overflow: hidden;

    &:hover .trending__post-background{
      filter: opacity(0.85);
    }

    &-background{
      width: 100%;
      height: 100%;
      object-fit: cover;

      filter: opacity(0.6);
      transition: all 0.7s;
      z-index: 1;
    }

    &-content{
      height: calc(100% - 32px);
      padding: 16px;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-text{
        & > h2{
          font-weight: 500;
          font-size: $font-size2;
          color: $white-primary;
        }
        & > p{
          font-weight: 400;
          font-size: $font-size4;
          color: #9C9C9C;
        }
      }

      &-user{
        display: flex;
        gap: 6px;

        & > img{
          border-radius: 50%;
        }
        & > p{
          color: $white-primary;
        }
      }
    }
  }
}

@media (min-width: 1900px) {
  .content-posts-side_menu{
    position: relative;
    min-width: 255px;
    width: 19vw;
    height: 312px;
  }

  .side_menu{
    position: fixed;
    top: 135px;
  }

  .trending__post{
    width: calc((100vw - ((3 * $content_trending_gap) + ($navbar_width + 1px) + (2 * 50px) + 19vw + 50px )) / 4);
    height: calc((215/241) * ((100vw - ( (3 * $content_trending_gap) + ($navbar_width + 1px) + (2 * 50px) + 19vw + 50px )) / 4));
  }
}
