

.content{
  &-settings{
    padding: 24px 16px;

    border-bottom: 4px solid $gray3;

    &-options{
      padding: 24px 0 2px 0;
      display: flex;
  
      justify-content: space-between;
    }
  }
}

.settings__option{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;

  color: $gray-primary;

  &:hover > p{
    color: $blue-primary;
  }

  &:hover > img{
    filter: $blue-secondary-filter;
  }
}