.header {
  position: sticky;
  top: 0;
  display: flex;

  background-color: $white-primary;
  border-bottom: 2px solid #E3E3E3;

  align-items: center;
  gap: 12px;
  padding: 13px 16px;
  z-index: 10;
}

.logo {
  font-size: $font-size2;
  font-weight: $medium;
  user-select: none;
}

.hamburger .line {
  width: 28px;
  height: 2px;
  background-color: #000000;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

// Tablet - 768 x 1024 
@media (min-width: 768px) {}

// Laptops
@media (min-width: 1365px) {

  .logo {
    margin-right: auto;
    font-weight: $medium;
    font-size: $font-size0;
  }

  .header {
    justify-content: flex-end;
    padding: 17px 55px;

    &-serch {
      width: calc(50% - 108px);
      margin-right: 104px;

      &__input {
        width: 100%;
        padding: 14px 0px 14px 54px;

        background: #F5F5F5;
        border: none;
        border-radius: 50px;

        &:focus {
          outline: 1px solid $blue-primary;
        }
      }
    }
  }

  .search__icon {
    position: absolute;
    left: 19px;
    top: 12px;
  }
}