.navbar {
  height: calc(100vh - 304px);
  padding: 50px 0;
  width: $navbar_width;

  display: flex;
  flex-direction: column;
  gap: 50px;

  overflow-y: scroll;
  position: fixed;
  top: 74px;

  background: $white-primary;
  border: 1px solid $gray1;

  z-index: 3;

  &-settings {
    position: fixed;
    bottom: 50px;
  }

  .navbar-section:nth-last-child(1) {
    width: $navbar_width;
    padding: 10px 0 35px 0;

    position: fixed;
    justify-content: flex-end;
    bottom: 0px;
    left: 0px;
    z-index: 2;

    background-color: $white-primary;
    border: 1px solid $gray1;

    transition: $navbar_transition;
  }

  &-section {
    display: flex;
    flex-direction: column;

    &__text {
      padding: 0 50px 10px 50px;

      font-weight: $regular;
      font-size: $font-size5;
      color: $gray-secondary;
      text-transform: uppercase;
    }
  }

  &-close {
    left: $navbar_offset;

    .navbar-section:nth-last-child(1) {
      left: $navbar_offset;
    }
  }

  &-open {
    left: 0;

    .navbar-section:nth-last-child(1) {
      left: 0px;
    }
  }

  transition: $navbar_transition;
}