
$something-secondary: #DBE0E5;

$white-primary: #FFFFFF;
$white-secondary: #F5F5F5;

$black-primary: #000000;
// $black-secondary: #;

$gray-primary: #9C9C9C;
$gray-secondary: #A8A8A8;
$gray1: #CECECE;
$gray2: #D3D3D3;
$gray3: #E3E3E3;
$gray4: #E1E1E1;

$blue-primary: #3179CC;
$blue-primary-filter: invert(44%) sepia(60%) saturate(679%) hue-rotate(172deg) brightness(87%) contrast(91%);

$blue-secondary: #0159BF;
$blue-secondary-filter: invert(21%) sepia(31%) saturate(6334%) hue-rotate(203deg) brightness(99%) contrast(99%);

$red-primary: #FF4500;


$font-size1: 24px;
$font-size2: 18px;
$font-size3: 16px;
$font-size4: 14px;
$font-size5: 12px;

$medium: 500;
$regular: 400;

$letter-spacing: -1px;