@import 'var';
@import 'header';
@import 'content';
@import 'post';

body{
  font-family: 'Roboto', sans-serif;
  color: $black-primary;

  margin: 0;
  padding: 0;
  background-color: $white-secondary;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.App{
  width: 100vw;
  height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}

.button{
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50px;

  border: 2px solid $red-primary;
  color: $red-primary;

  font-weight: $regular;
  font-size: $font-size3;
}

.button-fill{
  border: 2px solid $red-primary;
  background-color: $red-primary;
  color: $white-primary;
}