.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #FFFFFF;
  border-bottom: 2px solid #E3E3E3;
  align-items: center;
  gap: 12px;
  padding: 13px 16px;
  z-index: 10;
}

.logo {
  font-size: 18px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.hamburger .line {
  width: 28px;
  height: 2px;
  background-color: #000000;
  display: block;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (min-width: 1365px) {
  .logo {
    margin-right: auto;
    font-weight: 500;
    font-size: 28px;
  }
  .header {
    justify-content: flex-end;
    padding: 17px 55px;
  }
  .header-serch {
    width: calc(50% - 108px);
    margin-right: 104px;
  }
  .header-serch__input {
    width: 100%;
    padding: 14px 0px 14px 54px;
    background: #F5F5F5;
    border: none;
    border-radius: 50px;
  }
  .header-serch__input:focus {
    outline: 1px solid #3179CC;
  }
  .search__icon {
    position: absolute;
    left: 19px;
    top: 12px;
  }
}
.content-settings {
  padding: 24px 16px;
  border-bottom: 4px solid #E3E3E3;
}
.content-settings > h2 {
  font-weight: 500;
  font-size: 24px;
}
.content-settings-options {
  padding: 24px 0 2px 0;
  display: flex;
  gap: 14px;
}
.content-settings-options > div:nth-last-child(1) {
  margin-left: auto;
}

@media (min-width: 1365px) {
  .side_menu {
    content: "";
    width: 19vw;
    max-height: 570px;
    min-width: 255px;
    padding: 32px 0;
    margin-top: 45px;
    overflow-y: scroll;
    box-sizing: border-box;
    position: sticky;
    top: 200px;
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 8px;
  }
  .content {
    margin-left: 337px;
    padding: 50px;
  }
  .content-posts {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .content-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
  }
  .content-container__posts {
    flex: 1;
  }
  .content-trending > p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 24px;
  }
  .content-trending__container {
    display: flex;
    flex-direction: row;
    gap: 18px;
    position: relative;
  }
  .content-settings {
    padding: 0 0 32px 0;
    border-bottom: none;
  }
  .content-settings > h2 {
    margin-bottom: 24px;
    font-size: 18px;
  }
  .content-settings-options {
    border: 1px solid #CECECE;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px 24px;
  }
  .trending__post {
    content: "";
    position: relative;
    width: calc((100vw - 490px) / 4);
    height: calc(0.8921161826 * (100vw - 490px) / 4);
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
  }
  .trending__post:hover .trending__post-background {
    filter: opacity(0.85);
  }
  .trending__post-background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    filter: opacity(0.6);
    transition: all 0.7s;
    z-index: 1;
  }
  .trending__post-content {
    cursor: pointer;
    height: calc(100% - 32px);
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .trending__post-content-text > h2 {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
  }
  .trending__post-content-text > p {
    font-weight: 400;
    font-size: 14px;
    color: #9C9C9C;
  }
  .trending__post-content-user {
    display: flex;
    gap: 6px;
  }
  .trending__post-content-user > img {
    border-radius: 50%;
  }
  .trending__post-content-user > p {
    color: #FFFFFF;
  }
}
@media (min-width: 1900px) {
  .content-posts-side_menu {
    position: relative;
    min-width: 255px;
    width: 19vw;
    height: 312px;
  }
  .side_menu {
    position: fixed;
    top: 135px;
  }
  .trending__post {
    width: calc((100vw - (490px + 19vw + 50px)) / 4);
    height: calc(0.8921161826 * (100vw - (490px + 19vw + 50px)) / 4);
  }
}
.post {
  padding: 18px 16px;
  border-bottom: 4px solid #E3E3E3;
  display: flex;
  gap: 16px;
}
.post-rep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.post-rep p {
  font-weight: 500;
  font-size: 14px;
}
.post-rep img:hover {
  cursor: pointer;
  filter: invert(43%) sepia(49%) saturate(1727%) hue-rotate(212deg) brightness(93%) contrast(97%);
}
.post-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post-user h4 {
  font-weight: 500;
  font-size: 14px;
}
.post-user img {
  border-radius: 50%;
}
.post-user p {
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  color: #9C9C9C;
}
.post-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.post-content-image {
  width: 100%;
  border-radius: 10px;
}
.post-content-title {
  font-weight: 500;
  font-size: 16px;
}
.post-actions {
  display: flex;
  gap: 12px;
}
.post-action {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.post-action p {
  color: #9C9C9C;
}
.post-action:hover > p {
  color: #0159BF;
  transition: all 0.4s;
}
.post-action:hover > img {
  filter: invert(6%) sepia(91%) saturate(4932%) hue-rotate(216deg) brightness(97%) contrast(115%);
}
.post-action:nth-last-child(1) {
  margin-left: auto;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1365px) {
  .post {
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 8px;
    padding: 24px;
  }
  .post-content-title {
    font-size: 18px;
  }
}
.navbar {
  height: calc(100vh - 304px);
  padding: 50px 0;
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-y: scroll;
  position: fixed;
  top: 74px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  z-index: 3;
  transition: left 0.6s;
}
.navbar-settings {
  position: fixed;
  bottom: 50px;
}
.navbar .navbar-section:nth-last-child(1) {
  width: 335px;
  padding: 10px 0 35px 0;
  position: fixed;
  justify-content: flex-end;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  background-color: #FFFFFF;
  border: 1px solid #CECECE;
  transition: left 0.6s;
}
.navbar-section {
  display: flex;
  flex-direction: column;
}
.navbar-section__text {
  padding: 0 50px 10px 50px;
  font-weight: 400;
  font-size: 12px;
  color: #A8A8A8;
  text-transform: uppercase;
}
.navbar-close {
  left: -337px;
}
.navbar-close .navbar-section:nth-last-child(1) {
  left: -337px;
}
.navbar-open {
  left: 0;
}
.navbar-open .navbar-section:nth-last-child(1) {
  left: 0px;
}

.folder {
  display: flex;
  flex-direction: column;
}
.folder .navbar-item {
  padding: 6px 50px;
}
.folder .navbar-item .folder-link {
  padding-left: 42px;
}
.folder .sidemenu-item {
  padding: 8px 32px;
}
.folder .sidemenu-item .folder-link {
  padding-left: 12px;
}
.folder-name {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.folder-link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  color: #A8A8A8;
}
.folder-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: all 0.3s;
}
.folder-item:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}
.folder-item:hover .folder-link {
  color: #000000;
}
.folder-item > img:nth-last-child(1) {
  margin-left: auto;
}
.folder-item > img {
  width: 24px;
  height: 24px;
  filter: brightness(0);
}
.folder-item__icon {
  width: 30px;
  height: 30px;
  filter: brightness(0);
}

.option-selected {
  background-color: #efefef !important;
}

.settings-selected-lenguage {
  color: #3179CC;
}
.settings-selected-lenguage:hover {
  color: #3179CC !important;
}

.settings__option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #9C9C9C;
}
.settings__option:hover > img {
  filter: invert(6%) sepia(91%) saturate(4932%) hue-rotate(216deg) brightness(97%) contrast(115%);
}
.settings__option:hover > p {
  color: #3179CC;
  transition: all 0.3s;
}
.settings__option p {
  font-weight: 500;
  font-size: 14px;
}
.settings-popular {
  padding: 8px 24px 8px 20px;
  border-radius: 50px;
  background-color: #F5F5F5;
  transition: all 0.3s;
}
.settings-popular:hover {
  background-color: #efefef;
}
.settings-lenguage {
  padding: 8px 19px 8px 24px;
  border-radius: 50px;
  background-color: #F5F5F5;
  position: relative;
  transition: all 0.3s;
}
.settings-lenguage:hover {
  background-color: #efefef;
}
.settings-lenguage img {
  filter: invert(6%) sepia(91%) saturate(4932%) hue-rotate(216deg) brightness(97%) contrast(115%);
}
.settings-lenguage .name {
  color: #3179CC;
}
.settings-lenguage-options {
  width: 104px;
  height: 200px;
  padding: 15px 25px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 8px;
  position: absolute;
  top: 45px;
  left: 10px;
}
.settings-lenguage-options > p {
  padding: 5px 0;
}
.settings-lenguage-options > p:hover {
  color: #000000;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #bbbbbe;
  border: solid 4px transparent;
  border-radius: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
body::-webkit-scrollbar {
  display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.button {
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50px;
  border: 2px solid #3179CC;
  color: #3179CC;
  font-weight: 400;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s;
}
.button:hover {
  background-color: #efefef;
  border: 2px solid #0159BF;
}
.button:active {
  background-color: #F5F5F5;
  border: 2px solid #94BAE7;
}

.button:nth-last-child(2) {
  margin-left: auto;
}

.button-fill {
  border: 2px solid #3179CC;
  background-color: #3179CC;
  color: #FFFFFF;
}
.button-fill:hover {
  border: 2px solid #0159BF;
  background-color: #0159BF;
}
.button-fill:active {
  border: 2px solid #94BAE7;
  background-color: #94BAE7;
}

.selected-option p {
  color: #3179CC !important;
}
.selected-option img {
  filter: invert(6%) sepia(91%) saturate(4932%) hue-rotate(216deg) brightness(97%) contrast(115%) !important;
}

@media (min-width: 1365px) {
  .button {
    padding: 14px 50px;
  }
  .button:nth-last-child(2) {
    margin-left: 0px;
  }
}/*# sourceMappingURL=styles.css.map */